<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECF9DA4C1C9501880061D91F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECF9DA631C9501890061D91F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECF9DA6E1C9501890061D91F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
